.person_listItem{
	width: 90%;
	height: 20%;
	margin: 2%;
}
.station_listItem{
	width: 90%;
	height: 20%;
	margin: 2%;
}
.person_listItem_title{
	padding: 8px 20px 8px 20px;
}
.station_listItem_title{
	padding: 8px 20px 8px 20px;
}
.person_listItem_title img{
	width: 60px;
	height: 60px;
	margin-right: 15px;
	background: url('../images/person_photo.png');
}
.station_listItem_title img{
	width: 70px;
	height: 70px;
	margin-right: 15px;
	background: url('../images/station_photo.png');
}
.person_listItem_title h3{
	display: inline;
	color: #00BCD4;
}
.station_listItem_title h3{
	display: inline;
	color: #00BCD4;
}
.mdl-card__supporting-text{
	padding: 4px 12px 10px 12px;
}
.mdl-card__supporting-text h5{
	display: inline;
}
.mdl-card__supporting-text img{
	margin: 4px 8px 4px 8px;
}
.mdl-card__supporting-text h5{
	font-size: 16px;
	font-weight: 400;
}
.lading_listItem{
	width: 90%;
	height: 25%;
	margin: 2%;
	z-index: 1;
}
.lading_listItem_undraged{
	width: 90%;
	height: 25%;
	margin: 2%;
	box-shadow: none;
	z-index: 1;
	border: 1px solid #f1f1f1;
}
.lading_listItem > .mdl-card__title{
	width: 100%;
	height: 80px;
	padding: 16px 16px 16px 8px;
	background: url('../images/lading_listItem_background.png') center/cover;
}
.lading_listItem_undraged > .mdl-card__title{
	width: 100%;
	height: 80px;
	padding: 16px 16px 16px 8px;
	background: url('../images/lading_listItem_background.png') center/cover;
}
.lading_listItem_id{
	color: #0097a7;
	font-size: 35px;
	font-weight: 400;
}
.lading_listItem h5{
	font-size: 18px;
}
.lading_listItem_undraged h5{
	font-size: 18px;
}
.mdl-card__supporting-text > div{
	height: 35px;
}








.cf:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .cf {
	zoom: 1;
}
*:first-child+html .cf {
	zoom: 1;
}

/**
 * Nestable
 */

.dd {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	max-width: 600px;
	list-style: none;
	font-size: 13px;
	line-height: 20px;
}
.dd-list {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
.dd-list .dd-list { padding-left: 35px; }
.dd-collapsed .dd-list { display: none; }

.dd-item, .dd-empty, .dd-placeholder {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	min-height: 20px;
	font-size: 13px;
	line-height: 20px;
}

.dd-handle {
	display: block;
	height: 30px;
	margin: 5px 0;
	text-decoration: none;
	font-weight: bold;
	background: #ffffff;
	background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
	background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
	background:         linear-gradient(top, #fafafa 0%, #eee 100%);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fafafa; }

.dd-item > button {
	display: block;
	position: relative;
	cursor: pointer;
	float: left;
	width: 25px;
	height: 25px;
	margin: 5px 0;
	padding: 0;
	text-indent: 0;
	border: 0;
	background: transparent;
	font-size: 22px;
	font-weight: bold;
}
.dd-item > button:before {
	content: '+';
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder, .dd-empty {
	margin: 5px 0;
	padding: 0;
	min-height: 30px;
	background: #f2fbff;
	border: 1px dashed #b6bcbf;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.dd-empty {
	border: 1px dashed #bbb;
	min-height: 100px;
	background-color: #e5e5e5;
	background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
	-webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
	-moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
	linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 10; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }

/**
 * Nestable Extras
 */

.nestable-lists {
	display: block;
	clear: both;
	width: 100%;
	padding-left: 20px;
}

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output {
	width: 100%;
	height: 7em;
	font-size: 0.75em;
	line-height: 1.333333em;
	font-family: Consolas, monospace;
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
	color: #ffffff;
	background: #ffffff;
	background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
	background:    -moz-linear-gradient(top, #fff 0%, #fff 100%);
	background:         linear-gradient(top, #fff 0%, #fff 100%);
}
#nestable2 .dd-handle:hover { background: #fafafa; }
#nestable2 .dd-item > button:before { color: #727272; }

@media only screen and (min-width: 700px) {
	.dd { float: left; width: 48%; }
	.dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

