html,body{
	font-family: 'Roboto', 'Helvetica', sans-serif;
}
body{
	height: 100%;
	width: 100% !important;
	overflow: hidden;
	margin: 0;
}
.login-background{
	width: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	z-index: 0;
	display: flex;
	display: -webkit-flex;
	background: #00BCD4 url(../images/wallpaper.jpg);
	background-size: cover;
}
#textbox{
	width: 50%;
	max-height: 100%;
	height: 100%;
	overflow: hidden;
	margin-left: 50%;
	position: absolute;
}
.toplam{
	width: 200%;
	height: 100%;
	position: relative;
	left: -100%;
}
.toplam-left{
	width: 50%;
	height: 100%;
	left: 0;
	position: absolute;
	background: #2c3034;
}
.toplam-right{
	width: 50%;
	height: 100%;
	right: 0;
	position: absolute;
	background: #f9f9f9;
}
.login-field{
	position: relative;
	width: 60%;
	max-width: 100%;
	height: 50%;
	max-height: 100%;
	margin-left: 25%;
	margin-top: 30%;
	background: #f9f9f9;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.signup-field{
	position: relative;
	width: 60%;
	max-width: 100%;
	height: 70%;
	max-height: 100%;
	margin-left: 20%;
	margin-top: 20%;
	background: #2c3034;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.login-field h2{
	font-size: 2.0em;
	font-weight: 200;
	margin-bottom: 8%;
}
.signup-field h2{
	font-size: 2.0em;
	font-weight: 200;
	margin-bottom: 8%;
}
.login-input-text{
	color: #727272;
	font-size: x-large;
}
.signup-input-text{
	color: #727272;
	font-size: x-large;
	border-bottom: 1px solid #45494C;
}
.login-switch-text{
	color: #727272;
	font-size: medium;
}
#moveleft, #moveright{
	width: auto;
	float: right;
	background: none;
	padding: 10px 16px;
	font-family: Roboto;
	font-size: 14px;
	color: #03A9F4;
	font-weight: 600;
	margin: 0 10px !important;
	line-height: 16px;
	text-transform: uppercase;
	cursor: pointer;
	max-height: 36px;
	height: 36px;
	letter-spacing: 0.5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-property: background-color;
	transition-property: background-color;
	border: 0;
	outline: 0;
}