
#viewDiv {
	float: left;
	position:relative;
	z-index:1;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
#map_menu {
	display: none;
	padding: 0;
	min-height: 0;
}
#baseMapSelect {
	position: fixed;
	top: 11%;
	right: 1.5%;
	background-color: white;
	opacity: 0.9;
	width: 10%;
	height: 5%;
	z-index: 2;
	overflow: visible;
}
.esri-home{
	position: fixed;
	bottom: 4%;
	right: 1.5%;
}
.esri-compass{
	position: fixed;
	bottom: 10%;
	right: 1.5%;
}
.esri-zoom{
	position: fixed;
	bottom: 16%;
	right: 1.5%;
}
#baseMapName{
	font-size: 18px;
}
.baseMap_menu_item{
	height: 36px;
	line-height: 36px;
}
.mdl-route-button{
	overflow: visible;
	text-transform: none;
	font-weight: 300;
	line-height: 18px;
	width: 100%;
	height: auto;
	padding: 6px 6px;
	border-bottom: 1px solid rgba(0,0,0,0.20);
}
#search_route{
	position: fixed;
	top: 12%;
	left: 37%;
	z-index: 2;
	overflow: visible;
}

